body {
    font-family: "Raleway", sans-serif;
}

/* Hero Section (Cabecera) */
#Hero-Section {
    /* Asumiendo que tienes una imagen de fondo en assets/img/bg-hero.jpg */
    background-image: url("../img/bg-hero.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh; 
    display: flex;
    align-items: center;
}

/* Portafolio Section (Contenedor de im치genes) */
#Portafolio .image-top {
    /* Clases para mostrar la imagen como fondo de tarjeta */
    height: 200px; /* Altura del contenedor de imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius);
}

/* Estilo para las tarjetas en general (Educaci칩n y Experiencia) */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
}

/* Contacto */
#Contacto form label {
    font-weight: 700;
    color: #373a3c;
}

/* Media Query para Contacto en dispositivos m치s peque침os */
@media (max-width: 768px) {
    #Contacto form label {
        font-weight: 400;
    }
}